[Unit]
Description=Update and apply Chezmoi terminal config daily

[Timer]
OnCalendar=daily
AccuracySec=1min
Persistent=true
RandomizedDelaySec=2min

[Install]
WantedBy=timers.target
