[Unit]
Description=Update plugins for Fish Shell
StartLimitIntervalSec=1d
StartLimitBurst=5
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env fish -c 'fisher update'
Restart=on-failure
RestartSec=60s
RestartSteps=2
RestartMaxDelaySec=600s

