[Unit]
Description=Update Neovim Plugins, Mason, and TreeSitter
StartLimitIntervalSec=1d
StartLimitBurst=5
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nvim --headless "+Lazy! sync" +qa
ExecStart=/usr/bin/nvim --headless "+MasonUpdate" +qa
ExecStart=/usr/bin/nvim --headless "+TSUpdate" +qa
Restart=on-failure
RestartSec=60s
RestartSteps=2
RestartMaxDelaySec=600s
