[Unit]
Description=Update Neovim Plugins, Mason, and TreeSitter
StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'while [[ "$(systemctl is-active network-online.target)" != "active" ]] ; do echo "Waiting for network to come online." >&2 ; sleep 30 ; done'
ExecStart=/usr/bin/nvim --headless "+Lazy! sync" +qa
ExecStart=/usr/bin/nvim --headless "+MasonUpdate" +qa
ExecStart=/usr/bin/nvim --headless "+TSUpdate" +qa
Restart=on-failure
RestartSec=60s
RestartSteps=2
RestartMaxDelaySec=600s
