[Unit]
Description=Update Yazy packages (plugins) daily

[Timer]
OnCalendar=daily
AccuracySec=1min
Persistent=true
RandomizedDelaySec=2min

[Install]
WantedBy=timers.target
