[plugin]
  prepend_preloaders = [
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
  ]
  prepend_previewers = [
    # Replace magick, image, video with mediainfo
    { mime = "{audio,video,image}/*", run = "mediainfo"},
    { mime = "application/subrip", run = "mediainfo" },
    # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
    { mime = "application/postscript", run = "mediainfo" },
	# Archive previewer
	{ mime = "application/*zip",            run = "ouch" },
	{ mime = "application/x-tar",           run = "ouch" },
	{ mime = "application/x-bzip2",         run = "ouch" },
	{ mime = "application/x-7z-compressed", run = "ouch" },
	{ mime = "application/x-rar",           run = "ouch" },
	{ mime = "application/vnd.rar",         run = "ouch" },
	{ mime = "application/x-xz",            run = "ouch" },
	{ mime = "application/xz",              run = "ouch" },
	{ mime = "application/x-zstd",          run = "ouch" },
	{ mime = "application/zstd",            run = "ouch" },
	{ mime = "application/java-archive",    run = "ouch" },

# Piper previewer
    { url = "*.csv",      run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.log",      run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.md",       run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.json",     run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.yaml",     run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.yml",      run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.toml",     run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.conf",     run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.ini",      run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.service",  run = 'piper -- bat --plain --color always --type ini "$1"' },
    { url = "*.mount",    run = 'piper -- bat --plain --color always --type ini "$1"' },
    { url = "*.socket",   run = 'piper -- bat --plain --color always --type ini "$1"' },
    { url = "*.network",  run = 'piper -- bat --plain --color always --type ini "$1"' },
    { url = "*.ini",      run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.lua",      run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.py",       run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.rs",       run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.c",        run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.cpp",      run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.sh",       run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.zsh",      run = 'piper -- bat --plain --color always "$1"' },
    { url = "*.fish",     run = 'piper -- bat --plain --color always "$1"' },
    { url  = "*/",         run = 'piper -- eza -TL=3 --color=always --icons=always --group-directories-first --no-quotes "$1"' },
]

# For a large file like Adobe Illustrator, Adobe Photoshop, etc
# you may need to increase the memory limit if no image is rendered.
# https://yazi-rs.github.io/docs/configuration/yazi#tasks
[tasks]
  image_alloc      = 1073741824        # = 1024*1024*1024 = 1024MB

[mgr]
sort_by = "natural"
sort_sensitive = false
sort_dir_first = true
sort_translit = true
linemode = "size"
show_hidden = false
show_symlink = true
scrolloff = 3

