*/15 * * * * check-interval -z -n neovim-update -i 168 -c 'nvim --headless "+Lazy! sync" +qa && nvim --headless "+MasonUpdate" +qa && nvim --headless "+TSUpdateSync" +qa'
*/5 * * * * check-interval -z -n chezmoi-update -i 12 -c 'chezmoi update'
